{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href={% static 'home.css' %}>
	<link rel="stylesheet" href={% static 'grid-items.css' %}>

	<link
	href="https://fonts.googleapis.com/css2?
	family=Ubuntu+Mono&display=swap"
	rel="stylesheet">	
</head>

<body>
	<style>
		.landing-page{
			background-image: url(static/images/landing.jpg) ;
			width: 100vw;
			height: 90vh;
			background-position: center;
			background-size: cover;
			

		}
	</style>
	<header>
		<div>
			<h1 id="top">Online</h1>
		<h1 id="top1">FoodShop</h1>
		</div>
		<p id="app-logo">🍔</p>
	</header>
	<hr>
	<nav id="navbar">
		<!-- <img src="/static/images/logo.jpg"> -->
		
		<ul id="navcontent">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="{% url 'FoodItem' %}">Menu</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
			{% if user.is_authenticated %}
			<li><a href="" style="color: brown;">{{ user.get_full_name }}</a></li>
			<li><a href="{% url 'logout_view' %}">Logout</a></li>
			<li id="cart"><a href="{% url 'cart' %}"><img src="../static/images/cart.png" alt=""></a></li>

			{% else %}
			<li><a href="{% url 'login_view' %}">Login</a></li>
			{% endif %}

		</ul>
	</nav>
	<div class="landing-page">

	</div>
	
	<h2 class="section">Featured Products</h2>
	<div id="foods">
			{% for food_item in food_items %}
			<div class="food">
				<img src="{{ food_item.image.url }}" alt="Image">
				<p class="food-name">{{food_item.name}}</p>
				<p class="food-price">Rs {{food_item.price}}</p>
				<button >ADD TO CART</button>
			</div>
			{% endfor %}
		

</div>
<hr style="margin:2rem 0;height: 2px; background-color: grey;">
	<footer>Copyright © 2020-2021 OnlineFoodShop.
		All Rights are reserved</footer>

	<script src="{% static 'cart.js' %}"></script>

    <!-- Include the checkout.js script -->
    <script src="{% static 'checkout.js' %}"></script>
</body>
</html>
