{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css"> -->
    <link rel="stylesheet" href={% static 'signup.css' %}>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">  
        {% if error_message %}
            <p class="error" style="color: red;">{{ error_message }}</p>
        {% endif %}	

		<!-- <input type="checkbox" id="chk" aria-hidden="true"> -->
			<div class="signup">
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <label for="chk" aria-hidden="true">Sign up</label>
                        <input type="text" name="username" placeholder="user name" required="">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="password" required="">
                        <input type="password" name="cpassword" placeholder="confirm password" required="">
                        <button type="submit">Sign Up</button>
                    </form>
			</div>
	</div>
</body>
</html>